<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Speech to Image</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/speechToImg.css') }}">
    {{ JSGlue.include() }}
  </head>
  <body style="background-color:#E8E8E8;">
    <div class = 'content'>
    <h1>Speech to Image</h1>
    <div id="controls">
  	 <button id="recordButton">Record</button>
    <!--<button id="pauseButton" disabled>Pause</button>-->
  	 <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="formats">Format: start recording to see sample rate</div>
  	<p><strong>Recordings:</strong></p>
  	<ol id="recordingsList"></ol>
    <div id="genImgButtonID"></div>
    <div id="Progress_Status">
        <div id="myprogressBar">
        </div>
    </div>
    <div id="speechRec"></div>
    <div id="imgDiv"></div>

  	<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='css/speechToImg.js')}}"></script>
    </div>
  </body>
</html>